<meta charset="utf-8">
<meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1">
{% block htmltitle %}
<title>{% if page_title %}{{ page_title }} - {% endif %}{{ site_name }}</title>
{% if page_description %}
<meta name="description" content="{{ page_description }}">
{% endif %}
{% if canonical_url %}
<link rel="canonical" href="{{ canonical_url }}">
{% endif %}
{% if site_author %}
<meta name="author" content="{{ site_author }}">
{% endif %}
{% endblock %}
<meta property="og:url" content="{{ canonical_url }}">
<meta property="og:title" content="{% if page_title %}{{ page_title }} - {% endif %}{{ site_name }}">
{% if config.extra.logo %}<meta property="og:image" content="{{ base_url }}/{{ config.extra.logo }}">{% endif %}
<meta name="apple-mobile-web-app-title" content="{% if page_title %}{{ page_title }} - {% endif %}{{ site_name }}">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"> {% if config.extra.logo %}
<link rel="apple-touch-icon" href="{{ base_url }}/{{ config.extra.logo }}"> {% endif %} {% set favicon = favicon | default("assets/images/favicon-e565ddfa3b.ico") %}
<link rel="shortcut icon" type="image/x-icon" href="{{ base_url }}/{{ favicon }}">
<link rel="icon" type="image/x-icon" href="{{ base_url }}/{{ favicon }}">
<style>
	@font-face {
		font-family: 'Icon';
		src: url('{{ base_url }}/assets/fonts/icon.eot?52m981');
		src: url('{{ base_url }}/assets/fonts/icon.eot?#iefix52m981') format('embedded-opentype'),
		url('{{ base_url }}/assets/fonts/icon.woff?52m981') format('woff'),
		url('{{ base_url }}/assets/fonts/icon.ttf?52m981') format('truetype'),
		url('{{ base_url }}/assets/fonts/icon.svg?52m981#icon') format('svg');
		font-weight: normal;
		font-style: normal;
	}
</style>
<link rel="stylesheet" href="{{ base_url }}/assets/stylesheets/application-0dac3e5884.css"> {% if config.extra.palette %}
<link rel="stylesheet" href="{{ base_url }}/assets/stylesheets/palettes-05ab2406df.css"> {% endif %} {% if config.extra.font != "none" %} {% set text = config.extra.get("font", {}).text | default("Ubuntu") %} {% set code = config.extra.get("font", {}).code | default("Ubuntu Mono") %} {% set font = text + ':400,700|' + code | replace(' ',
'+') %}
<link rel="stylesheet" href="//fonts.googleapis.com/css?family={{ font }}">
<style>
	body,
	input {
		font-family: '{{ text }}',
		Helvetica,
		Arial,
		sans-serif;
	}

	pre,
	code {
		font-family: '{{ code }}',
		'Courier New',
		'Courier',
		monospace;
	}
</style>
{% endif %} {% for path in extra_css %}
<link rel="stylesheet" href="{{ path }}"> {% endfor %}
<script src="{{ base_url }}/assets/javascripts/modernizr-4ab42b99fd.js"></script>
{% block extrahead %}{% endblock %}
